@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-display: swap;
}

@font-face{
    font-family: RobotoMedium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-display: swap;
}

@font-face{
    font-family: RobotoBold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-display: swap;
}

@font-face{
    font-family: RobotoBoldItalic;
    src: url(../fonts/Roboto/Roboto-BoldItalic.ttf);
    font-display: swap;
}

:root{
    --menu-count: 4;
}

body{
    background-color: transparent;
    padding-top: 60px;
    padding-bottom: 50px;
    margin: 0;
    position: relative;
    min-height: 100vh;
}

/*-----------------------------------------------------ESTILOS DE LA CABECERA-----------------------------------------------------*/

.header-main{
    background-color: #94A29C;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    align-items: center;
}

/* ESTILO DE header-main PARA CUANDO SE ACTIVE EL BOTON*/
/*
Muy importante el orden donde se declara el estilo complementario, ya que a la hora de aplicar el estilo, como el elemento va a tener
en su lista de clases ambas clases, primero se va a aplicar el estilo que este mas arriba y despues se aplica es estilo que este
mas abajo (haciendo que el estilo resultante sea el de este ultimo)
POR ESO EL ESTILO COMPLEMENTARIO SIEMPRE DEBE IR DESPUES DEL ESTILO PRINCIPAL
*/

.header-main-on-click{
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.header-main .logo{
    background-color: transparent;
    height: 50px;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}

/*ESTILO DEL logo PARA CUANDO SE ACTIVE EL BOTON*/
.header-main .logo-on-click{
    height: 10%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-main .logo img{
    height: 100%;
}

.header-main h1{
    margin: 0;
    text-transform: uppercase;
    font-family: RobotoBoldItalic;
    font-size: 26px;
}

@media screen and (min-width: 900px) {
    .header-main h1{
        font-size: 40px;
    }
}

.header-main h1 span{
    color: cyan;
}

.header-main .nav-bar{
    height: 50%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}

/*ESTILO DEL nav-bar PARA CUANDO SE ACTIVE EL BOTON*/
.header-main .nav-bar-on-click{
    display: flex;
}

.header-main .nav-bar ul{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.header-main .nav-bar ul li{
    border-top: 1px solid black;
    width: 100%;
    height: calc(100% / var(--menu-count));
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.header-main .nav-bar ul li:nth-last-child(1){
    border-bottom: 1px solid black;
}*/

.header-main .nav-bar ul li .actions{
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
    font-family: RobotoMedium;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.header-main .nav-bar ul li .logo-liga{
    height: 80%;
}

.header-main .nav-bar ul li .logo-liga img{
    height: 100%;
}

.header-main .mobile-menu-btn{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    height: 60px;
    width: fit-content;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 10px;

    position: fixed;
    top: 0;
    right: 0;
}

.header-main .mobile-menu-btn img{
    height: 80%;
}

@media screen and (min-width: 900px) {
    .header-main .nav-bar{
        height: 100%;
        width: 25%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header-main .nav-bar ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 10px;

        height: 100%;
        width: 100%;
        flex-wrap: none;
        align-items: center;
    }

    .header-main .nav-bar ul li{
        border-top: none;
        height: 100%;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        box-sizing: border-box;
    }

    .header-main .nav-bar ul li .logo-liga{
        height: 100%;
    }
    
    .header-main .nav-bar ul li .logo-liga img{
        height: 100%;
    }

    .header-main .nav-bar ul li:hover{
        border-bottom: 3px solid black;
    }
    
    /*.header-main .nav-bar ul li:nth-last-child(1){
        border-bottom: none;
    }*/

    .header-main .mobile-menu-btn{
        display: none;
    }
}


/*-----------------------------------------------------ESTILOS DEL MAIN-----------------------------------------------------*/

.main-view{
    width: 100vw;
}
/*--------------------CLASIFICACION-JORNADAS--------------------*/

.main-view .clasificacion-jornadas{
    background-color: transparent;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media screen and (min-width: 900px) {
    .main-view .clasificacion-jornadas{
        flex-direction: row;
    }

    .main-view .clasificacion-jornadas .clasificacion {
        flex-grow: 2;
    }

    .main-view .clasificacion-jornadas .predicciones {
        flex-grow: 2;
    }
}

.main-view .clasificacion-jornadas .title{
    background-color: #797D7F;
    width: fit-content;
    padding: 10px;
    border-radius: 50px;
}

.main-view .clasificacion-jornadas h2{
    font-family: RobotoMedium;
    text-transform: uppercase;
    margin: 0;
}

/*--------------------CLASIFICACION--------------------*/

.main-view .clasificacion-jornadas .clasificacion {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

@media screen and (min-width: 900px) {
    .main-view .clasificacion-jornadas .clasificacion {
        width: 70%;
    }

    .main-view .clasificacion-jornadas .predicciones {
        width: 30%;
    }
}

.main-view .clasificacion-jornadas .clasificacion .tabla-clasificacion{
    border-collapse: collapse;
    background-color: #BBC4BE;
    text-align: center;
    width: 100%;
    font-family: Roboto;
}

.main-view .clasificacion-jornadas .clasificacion .tabla-clasificacion tr{
    height: 45px;
}

.main-view .clasificacion-jornadas .clasificacion .tabla-clasificacion .posicion{
    font-family: RobotoBold;
}

.main-view .clasificacion-jornadas .clasificacion .tabla-clasificacion .champions .posicion{
    color: blue;
}

.main-view .clasificacion-jornadas .clasificacion .tabla-clasificacion .europa-league .posicion{
    color: orange;
}

.main-view .clasificacion-jornadas .clasificacion .tabla-clasificacion .conference .posicion{
    color: green;
}

.main-view .clasificacion-jornadas .clasificacion .tabla-clasificacion .descenso .posicion{
    color: red;
}

.main-view .clasificacion-jornadas .clasificacion .tabla-clasificacion .ascenso .posicion{
    color: blue;
}

.main-view .clasificacion-jornadas .clasificacion .tabla-clasificacion .playoff .posicion{
    color: green;
}

.main-view .clasificacion-jornadas .clasificacion .tabla-clasificacion .cabecera-tabla{
    position: sticky;
    top: 60px; /*60 PORQUE EL HEADER SON 60*/
}


.main-view .clasificacion-jornadas .clasificacion .tabla-clasificacion th{
    font-family: RobotoBold;
    background-color: #797D7F;
}

.main-view .clasificacion-jornadas .clasificacion .tabla-clasificacion tr .equipo-completo{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.main-view .clasificacion-jornadas .clasificacion .tabla-clasificacion tr .equipo-completo .equipo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-view .clasificacion-jornadas .clasificacion .tabla-clasificacion tr td .equipo .img-escudo{
    height: 30px;
    width: fit-content;
}

.main-view .clasificacion-jornadas .clasificacion .tabla-clasificacion tr td .equipo .img-escudo img{
    height: 100%;
}

.main-view .clasificacion-jornadas .clasificacion .tabla-clasificacion tr .equipo-completo .equipo .wrapper-nombre-equipo{
    text-align: center;
    width: 40px;
}

.main-view .clasificacion-jornadas .clasificacion .tabla-clasificacion tr td .equipo span{
    text-transform: uppercase;
    font-family: RobotoMedium;
}


.main-view .clasificacion-jornadas .clasificacion .tabla-clasificacion tr:nth-of-type(2n) {
    background-color: hsl(0 0% 0% / 0.05);
}

/*--------------------PRONOSTICO--------------------*/

.main-view .clasificacion-jornadas .clasificacion .pronostico-partido {
    display: flex;
    gap: 10px;
}

.main-view .clasificacion-jornadas .clasificacion .pronostico-partido .pronostico-titulo {
    font-family: RobotoMedium;
    display: flex;
    align-items: center;
    gap: 5px;
}

.main-view .clasificacion-jornadas .clasificacion .pronostico-partido .posibles-equipos {
    font-family: RobotoMedium;
    border: 2px solid #94A29C;
    border-radius: 10px;
}

.main-view .clasificacion-jornadas .clasificacion .pronostico-partido .pronostico-boton {
    font-family: RobotoMedium;
    border: none;
    border-radius: 10px;
}

.main-view .clasificacion-jornadas .clasificacion .pronosticos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.main-view .clasificacion-jornadas .clasificacion .pronosticos .pronostico {
    min-width: 42%;
    max-width: 42%;
    font-family: RobotoMedium;
    border-radius: 20px;
    background-color: #BBC4BE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    text-align: center;
    position: relative;
}

@media screen and (min-width: 590px) {
    .main-view .clasificacion-jornadas .clasificacion .pronosticos .pronostico {
        min-width: 28%;
        max-width: 28%;
    }
}

@media screen and (min-width: 900px) {
    .main-view .clasificacion-jornadas .clasificacion .pronosticos .pronostico {
        min-width: 25%;
        max-width: 25%;
    }
}

.main-view .clasificacion-jornadas .clasificacion .pronosticos .pronostico .eliminar-pronostico{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 23px;
    width: fit-content;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    /*PARA QUE ESTE EN LA ESQUINA DEL PRONOSTICO*/
    position: absolute;
    top: 10px;
    right: 10px;
}

.main-view .clasificacion-jornadas .clasificacion .pronosticos .pronostico .eliminar-pronostico img{
    height: 100%;
}

.main-view .clasificacion-jornadas .clasificacion .pronosticos .pronostico .equipo-pronostico {
    border-radius: 10px;
    background-color: #94A29C;
    width: 50%;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main-view .clasificacion-jornadas .clasificacion .pronosticos .pronostico .equipo-pronostico .equipo-completo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.main-view .clasificacion-jornadas .clasificacion .pronosticos .pronostico .equipo-pronostico .equipo-completo .img-escudo {
    height: 35px;
    width: fit-content;
}

.main-view .clasificacion-jornadas .clasificacion .pronosticos .pronostico .equipo-pronostico .equipo-completo .img-escudo img{
    height: 100%;
}

.main-view .clasificacion-jornadas .clasificacion .pronosticos .pronostico .pronostico-final {
    border-radius: 10px;
    width: 100%;
    background-color: #94A29C;
}

.main-view .clasificacion-jornadas .clasificacion .pronosticos .pronostico .derrota {
    border-radius: 10px;
    width: 100%;
    background-color: #D83434;
}

.main-view .clasificacion-jornadas .clasificacion .pronosticos .pronostico .victoria{
    border-radius: 10px;
    width: 100%;
    background-color: #4FB44F;
}

.main-view .clasificacion-jornadas .clasificacion .pronosticos .pronostico .empate {
    border-radius: 10px;
    width: 100%;
    background-color: #F3F333;
}

.main-view .clasificacion-jornadas .clasificacion .pronosticos .pronostico .total {
    border-radius: 10px;
    background-color: #94A29C;
    width: 30%;
    display: flex;
    justify-content: center;
}

/*--------------------JORNADAS--------------------*/

.main-view .clasificacion-jornadas .predicciones {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-view .clasificacion-jornadas .predicciones ul{
    background-color: transparent;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-view .clasificacion-jornadas .predicciones ul li .jornada-completa{
    border-radius: 20px;
    padding: 10px;
    background-color: #BBC4BE;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-view .clasificacion-jornadas .predicciones ul li .jornada-completa .numero-jornada{
    font-family: RobotoMedium;
    font-size: 1.25rem;
    border-radius: 27px;
    background-color: #E2E5E0;
    width: fit-content;
    text-transform: uppercase;
    padding: 5px;
}


.main-view .clasificacion-jornadas .predicciones ul li .jornada-completa .jornada{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.main-view .clasificacion-jornadas .predicciones ul li .jornada .partido{
    width: 100%;
    background-color: #94A29C;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.main-view .clasificacion-jornadas .predicciones ul li .jornada .partido .img-escudo{
    height: 30px;
    width: fit-content;
}

.main-view .clasificacion-jornadas .predicciones ul li .jornada .img-escudo img{
    height: 100%;
}

.main-view .clasificacion-jornadas .predicciones ul li .jornada .partido span{
    text-transform: uppercase;
    font-family: RobotoMedium;
}
.main-view .clasificacion-jornadas .predicciones ul li .jornada .partido .wrapper-nombre-equipo{
    background-color: transparent;
    text-align: center;
    width: 40px;
}

.main-view .clasificacion-jornadas .predicciones ul li .jornada .partido .goles{
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    text-align: center;
    font-size: 16px;
    font-family: RobotoMedium;
    width: 35px;
}

/*-----------------------------------------------------FOOTER-----------------------------------------------------*/

footer{
    font-family: RobotoMedium;
    background-color: #94A29C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
